<!-- Main component for a primary marketing message or call to action -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load staticfiles %}
{%block content %}
<div class="container-fluid" >
      <div class="row">
         <div class="col-md-3 pull-center">
            <form method='post' action="" >{% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-lg btn-primary" type="submit" value="Submitt">
            </form>
         </div>
      </div>
    </div>
{% endblock %}